.home {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto 1fr;
}

@media (max-width: 800px) {
  .home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }
}

.home-header-logo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: 0.5em;

  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.home .about {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.home .about .text {
  padding: 0.5em;
}

.home .about .corner-buttons {
  display: none;
  z-index: 2;
}

.home-header {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  align-self: start;
}

.home-stats {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  align-self: center;
  overflow: auto;
  max-height: 100%;
}

.home-stats.home-stats-table {
  align-self: unset;
}

@media (max-width: 950px) {
  .home-stats .network-circle {
    zoom: 0.8;
  }
}

@media (max-width: 800px) {

  .home {
    transition: transform 0.5s ease-in-out;
  }

  .home.about-open {
    transform: translateY(7em);
  }

  .home-header-logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    min-height: 5.8em;
    margin-top: 0.8em;
    margin-left: 1em;
  }

  .home .about {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .home .about .text {
    transform: translateY(-7em);
  }

  .home .about .corner-buttons {
    display: block;
  }

  .home-header {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .home-stats {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    align-self: auto;
  }

}

@media (max-width: 500px) {
  .home-stats .network-circle {
    zoom: 0.8;
  }
}

@media (max-width: 410px) {
  .home-stats .network-circle {
    zoom: 0.75;
  }
}

@media (max-width: 385px) {
  .home-stats .network-circle {
    zoom: 0.7;
  }
}

@media (max-width: 365px) {
  .home-stats .network-circle {
    zoom: 0.6;
  }
}