.history-header {
  position: sticky;
  top: 0;
  background-image: linear-gradient(-0.5deg, transparent 0.5em, #00000010 1.2em, white 1em);
  z-index: 10;
  padding-bottom: 0.7em;
  margin-bottom: -0.5em;
  padding-top: 0.25em;
}

@media (max-width: 800px) {
  .history-header {
    top: 4em;
    padding-top: 0;
  }
}

.history-search-text-field {
  background: white;
  width: 100%;
}

.history-search-text-field label {
  overflow: unset;
}

.history-search-text-search-icon {
  position: relative;
  margin-bottom: -0.5em;
  margin-top: -0.5em;
  padding-left: 0.25em;
  top: -0.1em;
}

.history-search-text-search-label {
  position: relative;
  top: -0.55em;
}

.history-search-text-field input {
  padding-left: 0.5em;
}