.layout {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-template-rows: auto 1fr;
}

.account-title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: end;
}

.account-header .info-icon {
  display: none;
}

.account-extra-info {
  grid-column: 1;
  grid-row: 2;

  display: grid;
  grid-template-rows: 1fr;
  padding-bottom: 1em;
}

.account-extra-info .did-section {
  margin-top: 1em;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
}

.account-extra-info .did-section .copy-did {
  color: #b8b8b8;
  zoom: 0.6;
  margin-left: -1em;
  margin-right: -0.4em;
  transition: opacity 400ms, pointer-events 300ms;
  opacity: 0;
  pointer-events: none;
}

.account-extra-info .did-section:hover .copy-did {
  pointer-events: all;
  opacity: 1;
}

.account-extra-info .handle-history-section {
}

.account-tabs-handles {
  grid-row: 1 / 3;
  grid-column: 3 / 4;
  border-left: solid 1px #ededed;
  background: linear-gradient(to right, #f1f1f1, #fcfcfc 0.6em);
}

.account-tabs-handles .MuiTab-root {
  min-width: 0;
  padding: 2em 0.8em;
  margin-bottom: 0.5em;
  background: linear-gradient(to right, #dfdfdf, #f3f3f3 0.4em);
  box-shadow: inset -1px 0px 1px #00000059;
}

.account-tabs-handles .MuiTabs-indicator {
  background-color: black;
}

.account-tabs-handles .MuiTab-root.Mui-selected {
  background: linear-gradient(to right, #e8e5e5, #dadada 0.4em);
  color: black;
}

.account-tabs-handles .MuiTab-root.tab-blocked-by {
  background: linear-gradient(to right, #f7c9c1, #fde4e0 0.4em);
}

.account-tabs-handles .MuiTab-root.tab-blocked-by.Mui-selected {
  background: linear-gradient(to right, #ffccc4, #f4b6ac 0.6em);
  color: #a02d19;
}

.account-tabs-handles.selected-tab-blocked-by .MuiTabs-indicator {
  background-color: #a02d19;
}

.account-tabs-handles .MuiTab-root.tab-blocking {
  background: linear-gradient(to right, #efe5b2, #fff7d1 0.6em);
}

.account-tabs-handles .MuiTab-root.tab-blocking.Mui-selected {
  background: linear-gradient(to right, #fff2af, #ffea81 0.6em);
  color: #a26900;
}

.account-tabs-handles.selected-tab-blocking .MuiTabs-indicator {
  background-color: #b87700;
}

.account-tabs-handles .MuiTab-root.tab-lists {
  background: linear-gradient(to right, #c5d7f9, #e9f1ff 0.6em);
}

.account-tabs-handles .MuiTab-root.tab-lists.Mui-selected {
  background: linear-gradient(to right, #c1d7ff, #a3c1f7 0.6em);
  color: #27519b;
}

.account-tabs-handles.selected-tab-lists .MuiTabs-indicator {
  background-color: #3c68b7;
}

.account-tabs-content {
  grid-row: 1 / 3;
  grid-column: 2 / 3;

  position: relative;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  border-left: solid 1px #ececec;
}

.account-tabs-content .account-tab {
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  opacity: 0;
  pointer-events: none;
  disabled: true;
  position: relative;

  transition: opacity 0.1s ease-in-out;

  overflow: auto;
}

.account-tabs-content .account-tab-selected {
  z-index: 10;
  opacity: 1;
  pointer-events: auto;
  position: relative;
  disabled: false;
}

@media (max-width: 800px) {
  .layout {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;

    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto 1fr;
  }

  .account-header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    position: sticky;
    top: -7em;
    z-index: 20;
    background: white;
  }

  .account-header .info-icon {
    display: inline;
  }

  .account-extra-info {
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    display: block;
    padding-bottom: 0;
  }

  .account-extra-info.account-extra-info-reveal {
    background: #f6f6f6;
    border-top: solid 1px #ececec;
    border-bottom: solid 1px #ececec;
    font-size: 90%;
    padding-bottom: 0.6em;
    padding-top: 0.4em;
  }

  .account-extra-info .did-section {
    display: none;
    padding-top: 0;
    margin-top: 0;
    border-top: 0;
  }

  .account-extra-info .handle-history-section {
    display: none;
  }

  .account-extra-info.account-extra-info-reveal .bio-section {
    display: none;
  }

  .account-extra-info.account-extra-info-reveal .did-section {
    display: block;
  }

  .account-extra-info.account-extra-info-reveal .handle-history-section {
    display: block;
  }

  .account-tabs-content {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    border-left: none;
  }

  .account-tabs-handles {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    border-top: solid 1px #edecec;
  }

  .account-tabs-content .account-tab {
    overflow: unset;
  }
}