.account-short-entry .account-short-entry-avatar {
  background: no-repeat center center;
  background-size: cover;
  color: transparent;
  border-radius: 200%;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.25em;
}

.account-short-entry .account-short-entry-at-sign {
  display: inline-block;
  text-align: center;
  color: cornflowerblue;
  transform: scale(1.5);
}