.account-short-entry {
  line-height: 1.4;
}

.account-short-entry .account-short-entry-avatar {
  background: no-repeat center center;
  background-size: cover;
  color: transparent;
  border-radius: 200%;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.25em;
}

.account-short-entry .account-short-entry-at-sign {
  display: inline-block;
  text-align: center;
  color: cornflowerblue;
  transform: scale(1.5);
}

.account-short-entry .did-std-prefix {
  opacity: 0.5;
}

.account-short-entry .account-short-entry-avatar-image {
  animation: 20s ease-in 1s infinite reverse both running wait-and-flip;
}

@keyframes wait-and-flip {
  0% { transform: rotateY(0deg); }
  96% { transform: rotateY(0deg); }
  98% { transform: rotateY(90deg); }
  98% { transform: rotateY(-90deg); }
  100% { transform: rotateY(0deg); }
}