.mini-account-info h3 {
  font-size: inherit;
  padding: 0;
  margin: 0;
}

.mini-account-info .account-banner {
  height: 4em;
}

.mini-account-info .account-avatar-and-displayName-line  {
  font-size: 150%;
}

.mini-account-info .account-info-panel-description {
  font-size: 70%;
  white-space: pre-wrap;
  padding: 0.5em;
}

.mini-account-info .account-info-panel-children {
  padding: 0.4em;
}
