.pds-name-lead {
  opacity: 0.6;
}

.pds-name-tail {
  opacity: 0.6;
}

.pds-image-icon {
  width: 0.9em;
  height: 0.9em;
  position: relative;
  top: 0.1em;
  padding: 0.1em;
}

.pds-name-and-icon {
  white-space: nowrap;
}