.network-circle {
  padding: 1em 2em;
}

.network-circle-circle {
  width: 18em;
  height: 18em;
  border: solid 0.3em #636363;
  border-radius: 200%;
  position: relative;
}

.network-circle-circle .network-crowd {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 16%;
}

.network-circle-circle .network-active-crowd {
  text-align: center;
}

.network-circle-circle .network-deleted-crowd {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: end;
  justify-items: end;
  padding-right: 26%;
}

.network-circle-circle .crowd-icon {
  width: 1.7em;
  height: 1.7em;
}

.network-circle-circle .crowd-icon-deleted {
  color: silver;
}

.network-circle-circle .network-active-crowd .network-crowd-active-count-container {
  position: absolute;
  left: 83%;
  top: 4%;
  background: white;
  border: solid 2px #717171;
  padding: 0.2em 0.7em;
  border-radius: 0.5em;
  box-shadow: 0px 0px 0px 4px white;
  text-align: left;
}

.network-circle-circle .network-active-crowd .network-crowd-active-count-container
  .network-crowd-active-count {
  font-size: 200%;
  font-weight: bold;
  padding-right: 0.1em;
}

.network-circle-circle .network-active-crowd .network-crowd-active-count-container
  .network-crowd-active-label {
  padding-left: 0.5em;
  padding-bottom: 0.1em;
}


.network-circle-circle .network-deleted-crowd .network-crowd-deleted-count-container {
  position: absolute;
  left: 76%;
  bottom: 4%;
  background: #f5f5f5;
  border: solid 2px #b4b4b4;
  padding: 0.2em 0.7em;
  border-radius: 0.5em;
  box-shadow: 0px 0px 0px 4px white;
  text-align: left;
  color: #626262;
}

.network-circle-circle .network-deleted-crowd .network-crowd-deleted-count-container .network-crowd-deleted-count {
  font-size: 110%;
  font-weight: bold;
  padding-right: 0.1em;
}

.network-circle-circle .network-deleted-crowd .network-crowd-deleted-count-container .network-crowd-deleted-label {
  font-size: 85%;
  padding-left: 0.2em;
  padding-bottom: 0.1em;
}