.stats-section {
}

.stats-section-inner {
  display: inline-block;
  min-width: 50%;
  text-align: left;
}

.home-stats-main {
  position: relative;
}

.home-stats-main .toggle-table {
  float: right;
  min-width: unset;
  padding: 0.5em;
  margin-right: -0.5em;
}

.home-stats-main .toggle-table .MuiTouchRipple-root {
  min-width: unset;
}

table.stats-table {
  width: 100%;
}

table.stats-table th {
  text-align: right;
}

.home-stats-main .top-list .top-list-header {
  margin-bottom: 0.25em;
  margin-left: -0.2em;
  margin-right: -0.2em;
  padding: 0.1em 0 0.2em 0.4em;
  font-weight: normal;
}

.home-stats-main .top-list.top-blocked .top-list-header {
  color: #ab6002;
  background: #ffc7a1;
}

.home-stats-main .top-list.top-blocked .top-list-entries .top-list-entry:nth-child(even) {
  background: #ffe4d2;
}

.home-stats-main .top-list.top-blockers .top-list-header {
  color: #4f77bf;
  background: #d6e5ff;
}

.home-stats-main .top-list.top-blockers .top-list-entries .top-list-entry:nth-child(even) {
  background: #d6e5ff;
}