/* src/landing/search-autocomplete/search-autocomplete.css */
.search-entry {
  height: 2.3em;
  display: flex;
  align-items: center;
  white-space: nowrap !important;
  overflow-x: hidden !important;
  text-overflow: ellipsis !important;
}
.search-entry .at-sign {
  display: inline-block;
  text-align: center;
  width: 2em;
  border-radius: 200%;
  margin-right: 0.5em;
  color: cornflowerblue;
  transform: scale(1.5);
}
.search-entry .search-entry-avatar {
  width: 2em;
  height: 2em;
  border-radius: 200%;
  margin-right: 0.5em;
}
.search-entry .search-entry-display-name-space {
  width: 0.4em;
}
.search-entry .search-entry-display-name {
  color: gray;
}

/* src/landing/home-stats.css */
.stats-section {
}
.stats-section-inner {
  display: inline-block;
  min-width: 50%;
  text-align: left;
}
table.stats-table {
  width: 100%;
}
table.stats-table th {
  text-align: right;
}
.home-stats .top-list .top-list-header {
  margin-bottom: 0.25em;
  margin-left: -0.2em;
  margin-right: -0.2em;
  padding: 0.1em 0 0.2em 0.4em;
  font-weight: normal;
}
.home-stats .top-list.top-blocked .top-list-header {
  color: #ab6002;
  background: #ffc7a1;
}
.home-stats .top-list.top-blocked .top-list-entries .top-list-entry:nth-child(even) {
  background: #ffe4d2;
}
.home-stats .top-list.top-blockers .top-list-header {
  color: #4f77bf;
  background: #d6e5ff;
}
.home-stats .top-list.top-blockers .top-list-entries .top-list-entry:nth-child(even) {
  background: #d6e5ff;
}

/* src/landing/infographics/face-svg.css */
.SvgIcon-FaceSvg {
  width: 1em;
  height: 1em;
  font-size: 24px;
  fill: currentColor;
}

/* src/landing/infographics/network-circle.css */
.network-circle {
  padding: 1em 0;
  padding-left: 3em;
}
.network-circle-circle {
  width: 18em;
  height: 18em;
  border-radius: 200%;
  position: relative;
}
.network-circle-circle .network-crowd {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 24.5%;
}
.network-circle-circle .network-active-crowd {
  text-align: center;
}
.network-circle-circle .network-deleted-crowd {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: end;
  justify-items: end;
  padding-right: 26%;
}
.network-circle-circle .crowd-icon {
  width: 1.42em;
  height: 1.42em;
}
.network-circle-circle .crowd-icon-deleted {
  color: silver;
}
.network-circle-circle .network-active-crowd .network-crowd-active-count-container {
  position: absolute;
  left: 83%;
  top: 10%;
  background: white;
  border: solid 2px #717171;
  padding: 0.1em 0.7em;
  border-radius: 0.5em;
  box-shadow: 0px 0px 0px 4px white;
  text-align: left;
}
.network-circle-circle .network-active-crowd .network-crowd-active-count-container .network-crowd-active-count {
  font-size: 200%;
  font-weight: bold;
  padding-right: 0.1em;
}
.network-circle-circle .network-active-crowd .network-crowd-active-count-container .network-crowd-active-label {
  padding-left: 0.5em;
  padding-bottom: 0.2em;
}
.network-circle-circle .network-deleted-crowd .network-crowd-deleted-count-container {
  position: absolute;
  left: 76%;
  bottom: 15%;
  background: #f5f5f5;
  border: solid 2px #b4b4b4;
  padding: 0.2em 0.7em;
  border-radius: 0.5em;
  box-shadow: 0px 0px 0px 4px white;
  text-align: left;
  color: #626262;
}
.network-circle-circle .network-deleted-crowd .network-crowd-deleted-count-container .network-crowd-deleted-count {
  font-size: 110%;
  font-weight: bold;
  padding-right: 0.1em;
}
.network-circle-circle .network-deleted-crowd .network-crowd-deleted-count-container .network-crowd-deleted-label {
  font-size: 85%;
  padding-left: 0.2em;
  padding-bottom: 0.1em;
}
.network-circle-circle .arc-text-svg {
  position: absolute;
  z-index: -1;
}
.network-circle-circle .arc-text-svg .arc-percentNumberBlocking1 {
  fill: #d6e5ff;
}
.network-circle-circle .arc-text-svg .arc-percentNumberBlocking1-text {
  fill: #3964b1;
}
.network-circle-circle .arc-text-svg .arc-percentNumberBlocked1 {
  fill: #ffc7a1;
}
.network-circle-circle .arc-text-svg .arc-percentNumberBlocked1-text {
  fill: #b46707;
}
.network-circle-circle .arc-text-svg .arc-circle {
  stroke: #636363;
  stroke-width: 3px;
}
.network-circle-circle .arc-text-svg .arc-text {
  font-size: 90%;
}
.network-circle-circle .arc-text-svg .arc-text-caption {
  font-size: 55%;
}

/* src/common-components/mini-account-info.css */
.mini-account-info h3 {
  font-size: inherit;
  padding: 0;
  margin: 0;
}
.mini-account-info .account-banner {
  height: 4em;
}
.mini-account-info .account-avatar-and-displayName-line {
  font-size: 150%;
}
.mini-account-info .account-info-panel-description {
  font-size: 70%;
  white-space: pre-wrap;
  padding: 0.5em;
}

/* src/common-components/account-short-entry.css */
.account-short-entry .account-short-entry-avatar {
  background: no-repeat center center;
  background-size: cover;
  color: transparent;
  border-radius: 200%;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.25em;
}
.account-short-entry .account-short-entry-at-sign {
  display: inline-block;
  text-align: center;
  color: cornflowerblue;
  transform: scale(1.5);
}

/* src/landing/infographics/top-list.css */
.top-list {
  width: 21em;
}
.top-list .top-list-header {
  position: relative;
}
.top-list .top-list-header .top-list-24h-toggle-container {
  position: absolute;
  right: 0;
  top: 0.2em;
  font-size: 50%;
  transform: scale(0.8) translateY(-0.2em);
  cursor: pointer;
}
.top-list .top-list-entries .top-list-entry:nth-child(even) {
  background: whitesmoke;
}
.top-list .top-list-entry .top-list-entry-content {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
}
.top-list .top-list-entry .account-short-entry {
  text-decoration: none;
  color: inherit;
}
.top-list .top-list-entry .account-short-entry:hover {
  text-decoration: underline;
}
.top-list .top-list-entry .top-list-entry-count {
  padding-left: 2em;
}
.top-list .top-list-more {
  min-width: 21em;
  text-align: right;
}

/* src/landing/home.css */
.layout {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto 1fr;
}
.home-header-logo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: 0.5em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom;
}
.home-header {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  align-self: start;
}
.home-stats {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  align-self: center;
  overflow: auto;
  max-height: 100%;
}
@media (max-width: 800px) {
  .layout {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }
  .home-header-logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    min-height: 2em;
    margin-top: 0.8em;
    margin-left: 1em;
    margin-bottom: -0.5em;
  }
  .home-header {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .home-stats {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}
@media (max-width: 500px) {
  .home-stats .network-circle {
    zoom: 0.8;
  }
}
@media (max-width: 410px) {
  .home-stats .network-circle {
    zoom: 0.75;
  }
}
@media (max-width: 385px) {
  .home-stats .network-circle {
    zoom: 0.7;
  }
}
@media (max-width: 365px) {
  .home-stats .network-circle {
    zoom: 0.6;
  }
}

/* src/detail-panels/account-header.css */
.account-banner {
  height: 150px;
  background: no-repeat center center;
  background-size: cover;
}
.account-close-button {
  float: left;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  text-shadow:
    -1px -1px 2px #00000075,
    1px 2px 2px #00000075,
    -1px 1px 2px #00000075,
    1px -1px 2px #00000075;
  font-size: 80%;
  position: sticky;
  top: -0.1em;
  padding: 0.2em 0.6em;
  border-radius: 200%;
  transition: background 0.4s, box-shadow 0.4s;
}
.account-close-button:hover {
  background: rgba(255, 255, 255, 0.325);
  box-shadow: 0 0 25px #ffffffde;
}
.account-avatar-and-displayName-line {
  display: grid;
  margin-top: -1em;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr 1fr;
}
.account-avatar-and-displayName-line .account-banner-overlay {
  grid-row: 1/2;
  grid-column: 1/4;
  background:
    linear-gradient(
      0.8deg,
      white -0.25em,
      transparent 1.15em);
}
.account-avatar-and-displayName-line .account-avatar {
  grid-row: 1/3;
  grid-column: 1/2;
  width: 2em;
  height: 2em;
  border-radius: 200%;
  background: white;
  margin-right: 0.5em;
  margin-left: 0.5em;
  background: no-repeat center center;
  background-size: cover;
  border: solid 0.07em white;
}
.account-avatar-and-displayName-line .account-displayName {
  grid-row: 1/2;
  grid-column: 2/4;
  text-shadow:
    1px 1px 13px white,
    1px 1px 2px #fffffff2,
    -1px -1px 2px #ffffffe6;
  font-size: 90%;
  white-space: nowrap;
  position: relative;
  top: -0.02em;
}
.account-avatar-and-displayName-line .account-handle {
  grid-row: 2/3;
  grid-column: 2/3;
  font-size: 45%;
  font-weight: normal;
  color: #5c85cf;
}
.account-avatar-and-displayName-line .account-handle .account-handle-at {
  color: #adadad;
}
.account-avatar-and-displayName-line .account-handle .account-handle-suffix {
  color: #979797;
}
.account-avatar-and-displayName-line .account-did {
  grid-row: 2/3;
  grid-column: 3/4;
  justify-self: end;
  font-size: 37%;
  font-weight: normal;
  margin-right: 0.5em;
  color: gray;
  transform: scaleY(1.2) translateY(0.21em);
}
.account-avatar-and-displayName-line .account-did .account-did-prefix {
  opacity: 0.6;
}

/* src/detail-panels/blocked-by/blocked-by-panel.css */
.account-info-panel-blocked-timestamp {
  font-size: 80%;
  text-shadow:
    0 0 1px white,
    0 0 1px white,
    0 0 1px white,
    0 0 1px white,
    0 0 12px white,
    0 0 12px white,
    0 0 12px white,
    0 0 12px white;
  padding: 0.5em;
  padding-left: 1em;
}
.account-info-panel-blocked-timestamp-full {
  zoom: 80%;
  transform: scaleY(1.1);
}
.blocking-account-info-panel .account-info-panel-description {
  padding: 1em;
}
.blocking-panel-header {
  padding-left: 0.6em;
}
.block-list {
  padding-left: 0.6em;
}
.blocking-list-entry {
  list-style-type: none;
  height: 2em;
}
.blocking-list-entry .blocking-account-link {
  color: inherit;
  text-decoration: inherit;
}
.blocking-list-entry .blocking-account-link:hover {
  text-decoration: underline;
}
.blocking-list-entry .account-short-entry-content {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr;
}
.blocking-list-entry .account-short-entry-content .account-short-entry-handle {
  min-width: 15em;
}
.blocking-list-entry .blocking-account-avatar {
  background: no-repeat center center;
  background-size: cover;
  color: transparent;
  border-radius: 200%;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.25em;
}
.blocking-list-entry .blocking-date {
  opacity: 0.6;
  font-weight: 200;
  font-size: 80%;
  padding-left: 0.1em;
}

/* src/detail-panels/blocking/blocking-panel.css */

/* src/detail-panels/history/history-scrollable-list.css */
.history-post-entry {
  padding: 1em 1em;
  position: relative;
}
.history-post-entry::after {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background:
    linear-gradient(
      to right,
      #eee,
      #d2d2d2 20%,
      #eee);
}

/* src/detail-panels/history/post/render-post.css */
.post-with-content {
}
.post-with-content .post-header {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 97%;
  margin: 0;
  margin-bottom: 0.25em;
  padding: 0;
}
.post-with-content .post-header .post-account-avatar {
  background: no-repeat center center;
  background-size: cover;
  color: transparent;
  border-radius: 200%;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.25em;
}
.post-with-content .post-header .post-account-handle {
  font-weight: normal;
  color: gray;
}
.post-with-content .post-header .post-account-display-delimiter,
.post-with-content .post-header .post-timestamp,
.post-with-content .post-header .post-replying-to-marker-text {
  font-weight: normal;
  color: gray;
}
.post-with-content .post-header .post-timestamp {
  text-decoration: none;
}
.post-with-content .post-header .post-replying-to-marker {
  cursor: pointer;
  border-radius: 0.5em;
  padding-left: 1em;
  font-weight: normal;
  color: gray;
}
.post-with-content .post-header .post-replying-to-marker .post-replying-mini-avatar {
  color: #0000;
  background: center / cover no-repeat;
  border-radius: 200%;
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  position: relative;
  top: -0.05em;
  filter: brightness(1.7);
  opacity: 0.7;
  box-shadow: inset -1px -1px 7px #000000ad;
}
.post-with-content .post-content-embed {
  margin-top: 0.5em;
  padding-left: 2em;
}
.post-with-content .post-content-embed .post-content-embed-image-with-alt {
  color: #fff;
  background: #000;
  border-radius: 0.8em;
  width: 45%;
  display: inline-block;
}
.post-with-content .post-content-embed .post-content-embed-image-with-alt .post-content-embed-image-alt {
  padding: 0.5em;
  padding-top: 0;
  white-space: pre-wrap;
  height: 1.6em;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  font-size: 75%;
}
.post-with-content .post-content-embed .post-content-embed-image {
  width: 100%;
  border-radius: 0.8em;
  box-shadow: 0px 0px 1px black;
}
.post-with-content .post-content-embed .post-embed-external .post-embed-external-thumb {
  max-width: 100%;
  height: 12em;
  margin-top: 0.4em;
  border-radius: 0.8em;
  box-shadow: 0px 0px 1px black;
}
.post-with-content .post-content-embed .post-content-embed-qt,
.post-with-content .post-content-embed .post-embed-external {
  margin-top: 0.5em;
  margin-bottom: 0.4em;
  background: #fbfbfb;
  border: solid 1px #e5e5e5;
  border-radius: 0.7em;
  padding: 0.7em;
}
.post-with-content .post-content {
  margin: 0;
  margin-top: 0.45em;
  padding: 0;
  white-space: pre-wrap;
}
.post-with-content .post-content-1 {
  margin-top: 0;
}
.post-with-content .post-content .post-content-highlight-light-highlight {
  background-image:
    linear-gradient(
      to top,
      #ffcd70,
      transparent 0.6em);
  border-radius: 0.2em;
}
.post-with-content .post-content .post-content-highlight-highlight {
  background: gold;
  border-radius: 0.3em;
  padding: 0 0.1em;
  margin: 0 -0.1em;
  z-index: -1;
  position: relative;
}
.post-with-content .post-content-embed .post-embed-external {
  display: block;
  background: #f7fcff;
  border: 1px solid #c1e8ff;
  text-decoration: none;
}
.post-with-content .post-content-embed .post-embed-external .post-embed-external-title:hover {
  text-decoration: underline;
}
.post-with-content .post-content-embed .post-embed-external .post-embed-external-description {
  color: black;
  font-size: 80%;
}

/* src/detail-panels/history/search-header.css */
.history-header {
  position: sticky;
  top: 0;
  background-image:
    linear-gradient(
      -0.5deg,
      transparent 0.5em,
      #00000010 1.2em,
      white 1em);
  z-index: 10;
  padding-bottom: 0.7em;
  margin-bottom: -0.5em;
  padding-top: 0.25em;
}
@media (max-width: 800px) {
  .history-header {
    top: 4em;
    padding-top: 0;
  }
}
.history-search-text-field {
  background: white;
  width: 100%;
}
.history-search-text-field label {
  overflow: unset;
}
.history-search-text-search-icon {
  position: relative;
  margin-bottom: -0.5em;
  margin-top: -0.5em;
  padding-left: 0.25em;
  top: -0.1em;
}
.history-search-text-search-label {
  position: relative;
  top: -0.55em;
}
.history-search-text-field input {
  padding-left: 0.5em;
}

/* src/detail-panels/layout.css */
.layout {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-template-rows: 1fr 1fr;
}
.account-title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: end;
}
.account-tabs-handles {
  grid-row: 1 / 3;
  grid-column: 3 / 4;
  border-left: solid 1px #ededed;
  background:
    linear-gradient(
      to right,
      #f1f1f1,
      #fcfcfc 0.6em);
}
.account-tabs-handles .MuiTab-root {
  min-width: 0;
  padding: 2em 0.8em;
  margin-bottom: 0.5em;
  background:
    linear-gradient(
      to right,
      #dfdfdf,
      #f3f3f3 0.4em);
  box-shadow: inset -1px 0px 1px #00000059;
}
.account-tabs-handles .MuiTabs-indicator {
  background-color: black;
}
.account-tabs-handles .MuiTab-root.Mui-selected {
  background:
    linear-gradient(
      to right,
      #e8e5e5,
      #dadada 0.4em);
  color: black;
}
.account-tabs-handles .MuiTab-root.tab-blocked-by {
  background:
    linear-gradient(
      to right,
      #f7c9c1,
      #fde4e0 0.4em);
}
.account-tabs-handles .MuiTab-root.tab-blocked-by.Mui-selected {
  background:
    linear-gradient(
      to right,
      #ffccc4,
      #f4b6ac 0.6em);
  color: #a02d19;
}
.account-tabs-handles.selected-tab-blocked-by .MuiTabs-indicator {
  background-color: #a02d19;
}
.account-tabs-handles .MuiTab-root.tab-blocking {
  background:
    linear-gradient(
      to right,
      #efe5b2,
      #fff7d1 0.6em);
}
.account-tabs-handles .MuiTab-root.tab-blocking.Mui-selected {
  background:
    linear-gradient(
      to right,
      #fff2af,
      #ffea81 0.6em);
  color: #a26900;
}
.account-tabs-handles.selected-tab-blocking .MuiTabs-indicator {
  background-color: #b87700;
}
.account-tabs-handles .MuiTab-root.tab-followers {
  background:
    linear-gradient(
      to right,
      #c5d7f9,
      #e9f1ff 0.6em);
}
.account-tabs-handles .MuiTab-root.tab-followers.Mui-selected {
  background:
    linear-gradient(
      to right,
      #c1d7ff,
      #a3c1f7 0.6em);
  color: #27519b;
}
.account-tabs-handles.selected-tab-followers .MuiTabs-indicator {
  background-color: #3c68b7;
}
.account-tabs-content {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.account-tabs-content .account-tab {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  opacity: 0;
  pointer-events: none;
  disabled: true;
  position: relative;
  transition: opacity 0.1s ease-in-out;
  overflow: auto;
}
.account-tabs-content .account-tab-selected {
  z-index: 10;
  opacity: 1;
  pointer-events: auto;
  disabled: false;
}
@media (max-width: 800px) {
  .layout {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
  }
  .account-header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    position: sticky;
    top: -7em;
    z-index: 20;
    background: white;
  }
  .account-tabs-content {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .account-tabs-handles {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-top: solid 1px #edecec;
  }
  .account-tabs-content .account-tab {
    overflow: unset;
  }
}
/*# sourceMappingURL=index.css.map */
