/* src/detail-panels/account-header.css */
.account-banner {
  height: 150px;
  background: no-repeat center center;
  background-size: cover;
}
.account-close-button {
  float: left;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  text-shadow:
    -1px -1px 2px #00000075,
    1px 2px 2px #00000075,
    -1px 1px 2px #00000075,
    1px -1px 2px #00000075;
  font-size: 80%;
  position: sticky;
  top: -0.1em;
}
.account-avatar-and-displayName-line {
  display: grid;
  margin-top: -1em;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr 1fr;
}
.account-avatar-and-displayName-line .account-banner-overlay {
  grid-row: 1/2;
  grid-column: 1/4;
  background: linear-gradient(0.8deg, white -0.25em, transparent 1.15em);
}
.account-avatar-and-displayName-line .account-avatar {
  grid-row: 1/3;
  grid-column: 1/2;
  width: 2em;
  height: 2em;
  border-radius: 200%;
  background: white;
  margin-right: 0.5em;
  margin-left: 0.5em;
  background: no-repeat center center;
  background-size: cover;
  border: solid 0.07em white;
}
.account-avatar-and-displayName-line .account-displayName {
  grid-row: 1/2;
  grid-column: 2/4;
  text-shadow:
    1px 1px 13px white,
    1px 1px 2px #fffffff2,
    -1px -1px 2px #ffffffe6;
  font-size: 90%;
  white-space: nowrap;
  position: relative;
  top: -0.02em;
}
.account-avatar-and-displayName-line .account-handle {
  grid-row: 2/3;
  grid-column: 2/3;
  font-size: 45%;
  font-weight: normal;
  color: #5c85cf;
}
.account-avatar-and-displayName-line .account-handle .account-handle-at {
  color: #adadad;
}
.account-avatar-and-displayName-line .account-handle .account-handle-suffix {
  color: #979797;
}
.account-avatar-and-displayName-line .account-did {
  grid-row: 2/3;
  grid-column: 3/4;
  justify-self: end;
  font-size: 37%;
  font-weight: normal;
  margin-right: 0.5em;
  color: gray;
  transform: scaleY(1.2) translateY(0.21em);
}
.account-avatar-and-displayName-line .account-did .account-did-prefix {
  opacity: 0.6;
}

/* src/common-components/mini-account-info.css */
.mini-account-info h3 {
  font-size: inherit;
  padding: 0;
  margin: 0;
}
.mini-account-info .account-banner {
  height: 4em;
}
.mini-account-info .account-avatar-and-displayName-line {
  font-size: 150%;
}
.mini-account-info .account-info-panel-description {
  font-size: 70%;
  white-space: pre-wrap;
}

/* src/detail-panels/blocked-by/blocked-by-panel.css */
.account-info-panel-blocked-timestamp {
  font-size: 80%;
  text-shadow:
    0 0 1px white,
    0 0 1px white,
    0 0 1px white,
    0 0 1px white,
    0 0 12px white,
    0 0 12px white,
    0 0 12px white,
    0 0 12px white;
  padding: 0.5em;
  padding-left: 1em;
}
.account-info-panel-blocked-timestamp-full {
  zoom: 80%;
  transform: scaleY(1.1);
}
.blocking-account-info-panel .account-info-panel-description {
  padding: 1em;
}
.blocking-panel-header {
  padding-left: 0.6em;
}
.block-list {
  padding-left: 0.6em;
}
.blocking-list-entry {
  list-style-type: none;
  height: 2em;
}
.blocking-list-entry .blocking-account-link {
  color: inherit;
  text-decoration: inherit;
}
.blocking-list-entry .blocking-account-link:hover {
  text-decoration: underline;
}
.blocking-list-entry .blocking-account-avatar {
  background: no-repeat center center;
  background-size: cover;
  color: transparent;
  border-radius: 200%;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.25em;
}
.blocking-list-entry .blocking-date {
  opacity: 0.6;
  font-weight: 200;
  font-size: 80%;
  padding-left: 0.1em;
}

/* src/detail-panels/blocking/blocking-panel.css */

/* src/detail-panels/history/history-scrollable-list.css */
.history-post-entry {
  padding: 1em 1em;
  position: relative;
}
.history-post-entry::after {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, #eee, #d2d2d2 20%, #eee);
}

/* src/detail-panels/history/post/render-post.css */
.post-with-content {
}
.post-with-content .post-header {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 97%;
  margin: 0;
  margin-bottom: 0.25em;
  padding: 0;
}
.post-with-content .post-header .post-account-avatar {
  background: no-repeat center center;
  background-size: cover;
  color: transparent;
  border-radius: 200%;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.25em;
}
.post-with-content .post-header .post-account-handle {
  font-weight: normal;
  color: gray;
}
.post-with-content .post-header .post-account-display-delimiter,
.post-with-content .post-header .post-timestamp,
.post-with-content .post-header .post-replying-to-marker-text {
  font-weight: normal;
  color: gray;
}
.post-with-content .post-header .post-timestamp {
  text-decoration: none;
}
.post-with-content .post-header .post-replying-to-marker {
  cursor: pointer;
  border-radius: 0.5em;
  padding-left: 1em;
  font-weight: normal;
  color: gray;
}
.post-with-content .post-header .post-replying-to-marker .post-replying-mini-avatar {
  color: #0000;
  background: center / cover no-repeat;
  border-radius: 200%;
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  position: relative;
  top: -0.05em;
  filter: brightness(1.7);
  opacity: 0.7;
  box-shadow: inset -1px -1px 7px #000000ad;
}
.post-with-content .post-content-embed {
  margin-top: 0.5em;
  padding-left: 2em;
}
.post-with-content .post-content-embed .post-content-embed-image-with-alt {
  color: #fff;
  background: #000;
  border-radius: 0.8em;
  width: 45%;
  display: inline-block;
}
.post-with-content .post-content-embed .post-content-embed-image-with-alt .post-content-embed-image-alt {
  padding: 0.5em;
  padding-top: 0;
  white-space: pre-wrap;
  height: 1.6em;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  font-size: 75%;
}
.post-with-content .post-content-embed .post-content-embed-image {
  width: 100%;
  border-radius: 0.8em;
  box-shadow: 0px 0px 1px black;
}
.post-with-content .post-content-embed .post-embed-external .post-embed-external-thumb {
  max-width: 100%;
  height: 12em;
  margin-top: 0.4em;
  border-radius: 0.8em;
  box-shadow: 0px 0px 1px black;
}
.post-with-content .post-content-embed .post-content-embed-qt,
.post-with-content .post-content-embed .post-embed-external {
  margin-top: 0.5em;
  margin-bottom: 0.4em;
  background: #fbfbfb;
  border: solid 1px #e5e5e5;
  border-radius: 0.7em;
  padding: 0.7em;
}
.post-with-content .post-content {
  margin: 0;
  margin-top: 0.45em;
  padding: 0;
  white-space: pre-wrap;
}
.post-with-content .post-content-1 {
  margin-top: 0;
}
.post-with-content .post-content .post-content-highlight-light-highlight {
  background-image: linear-gradient(to top, #ffcd70, transparent 0.6em);
  border-radius: 0.2em;
}
.post-with-content .post-content .post-content-highlight-highlight {
  background: gold;
  border-radius: 0.3em;
  padding: 0 0.1em;
  margin: 0 -0.1em;
}
.post-with-content .post-content-embed .post-embed-external {
  display: block;
  background: #f7fcff;
  border: 1px solid #c1e8ff;
  text-decoration: none;
}
.post-with-content .post-content-embed .post-embed-external .post-embed-external-title:hover {
  text-decoration: underline;
}
.post-with-content .post-content-embed .post-embed-external .post-embed-external-description {
  color: black;
  font-size: 80%;
}

/* src/detail-panels/history/search-header.css */
.history-header {
  position: sticky;
  top: 0;
  background-image: linear-gradient(-0.5deg, transparent 0.5em, #00000010 1.2em, white 1em);
  z-index: 10;
  padding-bottom: 0.7em;
  margin-bottom: -0.5em;
  padding-top: 0.25em;
}
@media (max-width: 800px) {
  .history-header {
    top: 4em;
    padding-top: 0;
  }
}
.history-search-text-field {
  background: white;
  width: 100%;
}
.history-search-text-field label {
  overflow: unset;
}
.history-search-text-search-icon {
  position: relative;
  margin-bottom: -0.5em;
  margin-top: -0.5em;
  padding-left: 0.25em;
  top: -0.1em;
}
.history-search-text-search-label {
  position: relative;
  top: -0.55em;
}
.history-search-text-field input {
  padding-left: 0.5em;
}
/*# sourceMappingURL=index.css.map */
