.lists-as-list-view {
  margin: 0;
  padding: 0
}

.lists-as-list-view .lists-entry {
  list-style-type: none;
  height: 3.5em;
  border-top: solid 1px #dbdbdb;
  padding-top: 0.4em;
  padding-left: 0.7em;
  padding-right: 0.4em;
}

.lists-as-list-view .lists-entry .row {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  white-space: nowrap;
}

.lists-as-list-view .lists-entry .list-owner {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lists-as-list-view .lists-entry .list-add-date {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  font-size: 80%;
  opacity: 0.6;
  justify-self: end;
}

.lists-as-list-view .lists-entry .list-name {
  grid-row: 1/ 2;
  grid-column: 1 / 2;
  padding-left: 1.7em;
  font-weight: bold;
}

.lists-as-list-view .lists-entry .list-description {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  opacity: 0.6;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 0.5em;
}