.bluethernal-llc-watermark {
  position: fixed;
  bottom: 0.5em;
  right: -0.2em;
  font-size: 97%;
  opacity: 0.1;
  pointer-events: none;
  writing-mode: vertical-rl;
  font-weight: bold;
  text-shadow: 0 0 1px currentColor;
}